
.chat-container::-webkit-scrollbar {
  width: 1px;
}

.chat-container::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 10px; 
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #4a5568; 
  border-radius: 10px; 
  border: 1px solid #2d3748; 
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: #718096; 
} 


.chat-container {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
}
.bodyLoader{
    background-color: red;
    display: grid;
    place-items: center;
    width: 80px;
}
.VoiceSendloader {
    position: relative;
}

.dot {
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color:gray;
    animation: bounce 1.3s linear infinite;
}

.dot:nth-child(1) {
    left: -1rem;
}

.dot:nth-child(2) {
    animation-delay: -1s;
}

.dot:nth-child(3) {
    right: -1.5rem;
    animation-delay: -0.8s;
}

@keyframes bounce {
    0%,
    66%,
    100% {
        transform: initial;
    }

    33% {
        transform: translatey(-0.7rem);
    }
}

