<div class="bg-gray-800 text-white rounded-lg shadow-lg p-4 max-w-xs mx-auto">
    <img class="w-24 h-24 rounded-full mx-auto" src="https://tse4.mm.bing.net/th?id=OIP.Ii15573m21uyos5SZQTdrAHaHa&pid=Api&P=0&h=180" alt="Profile Picture">
    <h2 class="text-center text-xl mt-4">{{ user.username }}</h2>
    <div class="mt-4 flex justify-around">
        <button *ngIf="!user.isFollowing" (click)="followUser(user._id)"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Follow
        </button>
        <button *ngIf="user.isFollowing" (click)="unFollowUser(user._id)"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
            Unfollow
        </button>
  
    <button [routerLink]="['/chat', user._id]" routerLinkActive="router-link-active"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        Message
    </button>

    </div>
</div>

