<div class="max-w-lg mx-auto">
    <div class="bg-gray-800 shadow-md rounded-lg overflow-hidden">
        <div class="px-4 py-3 border-b border-gray-600">
            <h2 class="text-lg font-semibold text-gray-200">Comments</h2>
        </div>
        <div class="p-4">
            <ul>
                <li *ngFor="let comment of comments" class="py-2 border-b border-gray-600">
                
                    <div class="flex items-center">
                        <img [src]=" comment.postedBy.profilePic " alt="User Avatar" class="h-8 w-8 rounded-full mr-2">
                        <span class="font-semibold text-gray-200">{{ comment.postedBy.username }}</span>
                    <span class=" inline-block max-w-xs break-words whitespace-normal text-container text-gray-400 ml-2">{{ comment.text }}</span>
                    <span class="text-gray-400 ml-auto text-sm">{{ comment.createdAt | date }}</span>
                    </div>
                </li>
            </ul>
            <div *ngIf="comments.length === 0" class="text-gray-400 text-center mt-4">No comments yet.</div>
        
        </div>
    </div>
</div>