<div class="flex h-screen bg-gray-900 text-white">
    <!-- Sidebar -->
    <div class="bg-gray-800 ">
        <app-icon-sidebar-menu></app-icon-sidebar-menu>
    </div>

    <!-- Main Content -->
    <div class="flex flex-col flex-1">
        <!-- Header -->
        <header class="bg-gray-800 p-4">
            <div class="flex justify-between items-center">
                <div>
                    <h1 class="text-3xl font-bold">My Appointments with English Trainer</h1>
                </div>
                <div class="flex items-center">
                   
                </div>
            </div>
        </header>

        <!-- Appointments List -->
        <div class="p-8">
            <!-- Example Appointment Card -->
            <div class="bg-gray-800 rounded-lg shadow-md p-6 mb-4" *ngFor="let appointment of myAppointments | paginate:{itemsPerPage:3, currentPage:p}">
                <div class="flex items-center justify-between mb-4">
                    <div>
                        <h2 class="text-xl font-semibold">{{ appointment.slot.dayOfWeek }} : {{ appointment.slot.timeRange }}</h2>
                        <p class="text-gray-400">Booked on {{ appointment.createdAt | date }}</p>
                    </div>
                    <div class="flex items-center">
                       
                       
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="mr-4">
                        <img [src]="appointment.trainer.profilePic" alt="Trainer" class="rounded-full h-12 w-12">
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold">{{ appointment.trainer.fullName }}</h3>
                        <p class="text-gray-400">{{ appointment.trainer.specialization }}</p>
                    </div>
                    <button (click)="joinMeet(appointment.trainer.MeetLink, appointment.slot.dayOfWeek, appointment.slot.timeRange)"
                        class="ml-auto bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition-colors duration-300 ease-in-out">
                        Join Meet
                    </button>
                </div>

                <!-- No Posts Message -->
                <div *ngIf="appointment.length === 0" class="col-span-full text-center">
                    <h1>No Appointments</h1>
                </div>

            </div>

            <!-- Pagination -->
            <div class="flex justify-center">
                <pagination-controls (pageChange)="p = $event" previousLabel="Prev" nextLabel="Next"></pagination-controls>
            </div>


            

           
        </div>
    </div>
</div>