<div
    class="relative top-0 left-0 h-full w-55 md:w-2/25 bg-gray-800 p-4 flex flex-col border-r border-gray-700 items-center">
    <div class="mb-6 mt-10">
        <img src="../../../assets/amigo-logo.jpg" width="60" height="60" alt="App Logo" class="mx-auto rounded-full border-white border-4 ">
    </div>
    <div class="flex-grow flex flex-col items-center justify-center space-y-[60px]">
        <i routerLink="/home" class="icon fas fa-home text-2xl text-gray-400 hover:text-white cursor-pointer" title="Home"></i>
        <i routerLink="/testInterface" class="icon fas fa-file-alt text-2xl text-gray-400 hover:text-white cursor-pointer" title="Test"></i>
        <i routerLink="/addPost" class="icon fas fa-plus-square text-2xl text-gray-400 hover:text-white cursor-pointer" title="Post"></i>
        <i routerLink="/network" class="icon fas fa-user-plus text-2xl text-gray-400 hover:text-white cursor-pointer" title="Connect"></i>
        <i routerLink="/chat" class="icon fas fa-comment  text-2xl text-gray-400 hover:text-white cursor-pointer" title="Chat"></i>
        <i routerLink="/profile" class="icon fas fa-user  text-2xl text-gray-400 hover:text-white cursor-pointer" title="Profile"></i>
    </div>
</div>


