<div class="menu-container flex flex-col items-center justify-center bg-gray-900 p-8 h-screen">
    <!-- App Logo -->
    <div class="logo-container mb-4">
        <img src="../../../assets/amigo-logo-main.jpg"  alt="App Logo" class="h-16 rounded-s-2xl w-auto">
    </div>

    <!-- Menu List -->
    <ul class="menu-list text-lg flex flex-col items-center justify-center h-5/6 w-full">
       
        <li  routerLink="/testInterface"
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">

            English Level Test
        </li>
        <li  routerLink="/Amigo"
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">

            Talk With Amigo
        </li>
        <li  routerLink="/Trainers"
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">

            Schedule a Session
        </li>
        <li
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">
            <a routerLink="/addPost" class="block w-full">Add Post</a>
        </li>
        <!-- <li  routerLink="/notifications"
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">
            Notifications
        </li> -->
        <li routerLink="/network"
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">
            Network
        </li>
        <li routerLink="/chat"
            class="menu-item-container mb-8 hover:text-blue-400 cursor-pointer transition duration-300 ease-in-out w-full text-center py-2">
            Messages
        </li>
       
    </ul>
</div>